[Unit]
Description=Fix touchscreen

[Service]
Type=oneshot
ExecStart=/home/bruno/.local/scripts/fix-touch.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
