[Unit]
Description=Disable Touchscreen Automatically

[Service]
Type=simple
ExecStart=/home/bruno/.local/scripts/disable-touchscreen.sh
Restart=on-failure

[Install]
WantedBy=default.target
